
.button:hover{
    -fx-background-color: #60037f;
    -fx-text-fill: #0A65BF;
    -fx-font-weight: bold;
    
}
.list-view .scroll-bar:vertical{
    -fx-scale-x: 0;
}
.jfx-list-view{
   -fx-background-insets: 0;
   -fx-cell-vertical-margin:10.0;
   -fx-vertical-gap:10;
   -fx-pref-width:150;
   -fx-alignment:center;
    
}
